.idea/
__pycache__/
*.pyc
*.task
logs/

# Large dataset files
*.h5
*.hdf5

# Trained model checkpoints
*.pt
*.pth

# Exported models
*.onnx

# CSV experiment logs
*.csv

# Local environment
.env
venv/
# Output images from data analysis
analysis_output/
*.png
*.jpg
eda/
# Add env files
.env
.env.*
!.env.example
# 
web/back_end/*.db